{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": 2,
    "no-unused-vars": [1, {
      "varsIgnorePattern": "React"
    }],
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "globals": {
    "it": false,
    "require": false,
    "describe": false,  
    "expect": false,
    "document": false
  }
}