#rp50 {
  background-image: url('assets/50.jpg');
  
}

#rp100 {
  background-image: url('assets/100.jpg');
  
}

#rp500 {
  background-image: url('assets/500.jpg');
  
}

#rp1000 {
  background-image: url('assets/1000.jpg');
  
  
  
}

#rp2000 {
  background-image: url('assets/2000.jpg');

}

#rp5000 {
  background-image: url('assets/5000.jpg');
 
}

#rp10000 {
  background-image: url('assets/10000.jpg');
  
}

#rp20000 {
  background-image: url('assets/20000.jpg');
}

#rp50000 {
  background-image: url('assets/50000.jpg');
 
}

#rp100000 {
  background-image: url('assets/100000.jpg');
  
}

.displayContainer {
  display: flex;
  flex-direction: column;  
}

.sectionContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: column;
}

.size {
  width: 140px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.moneyContainer{
  padding-right: 10px;
}

.text {
  text-align: center;
  align-content: center;
  
}